//=========== colors =================
$mainTextColor: black;
$mainBackgroundColor: #DED4D4;

//=========== fonts ==================
$mainFont: 500 14px/16px 'Roboto', sans-serif;
$menuFont: 700 18px/40px 'Roboto', sans-serif;