//=========== colors =================
$mainTextColor: black;
$mainBackgroundColor: #DED4D4;

//=========== fonts ==================
$mainFont: 300 1em/1em 'Poppins', sans-serif;
$headerFont: 700 1.4em/2.0em 'Poppins', sans-serif;
$boldFont: 700 1.2em/1.2em 'Poppins', sans-serif;
$thickFont: 100 1em/1em 'Poppins', sans-serif;