html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "LC Chalk";
  src: url("/themes/default/fonts/LCChalk.woff2") format("woff2"), url("/themes/default/fonts/LCChalk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.container_passport {
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
  padding: 0 max(30%, 120px) 20px;
  color: #000;
  background-color: #c8c8c8;
  font: 300 1em/1em "Poppins", sans-serif;
}
.container_passport h4 {
  font: 700 20px/40px "Poppins", sans-serif;
}
.container_passport b {
  display: block;
  font: 700 1.2em/1.6em "Poppins", sans-serif;
}
.container_passport ul, .container_passport ol {
  text-align: left;
}

.none_ul > li {
  list-style: none;
}

.normal_ul > li {
  list-style: disc inside;
}

.decimal_ul > li {
  list-style: decimal inside;
}

.second_ul {
  margin-left: 20px;
}
.second_ul ol li {
  margin-left: 20px;
}

.container_form {
  margin: 20px auto;
  text-align: center;
}
.container_form p {
  font: 300 1em/1em "Poppins", sans-serif;
  font-size: 2em;
}

.footer {
  width: 100%;
  color: #000;
  background-color: #c8c8c8;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 6px;
}
.footer a > img {
  width: 32px;
  height: 32px;
}

@font-face {
  font-family: "LC Chalk";
  src: url("/themes/default/fonts/LCChalk.woff2") format("woff2"), url("/themes/default/fonts/LCChalk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body, html {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}
body:before, html:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/themes/default/images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.main_header {
  margin: clamp(20px, 10vw, 40px) auto;
  text-align: center;
}
.main_header a, .main_header a:visited, .main_header a:active, .main_header a:link, .main_header a:hover {
  color: #000;
  font: normal clamp(25px, 5vw, 60px)/8vw "LC Chalk", normal;
}

.main_nav {
  width: 100%;
}
.main_nav_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.main_nav_menu_item_link {
  font: normal 1.2em/1.2em "LC Chalk", normal;
  color: rgba(0, 0, 0, 0.7);
}
.main_nav_menu_item_link:hover {
  color: #343434;
}

.main_content {
  flex: 1 0 auto;
  margin: 20px auto;
  width: 100%;
  color: #000;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
}
.main_content h3 {
  font: 700 20px/40px "Poppins", sans-serif;
}
.main_content iframe {
  padding: 0;
  width: clamp(375px, 100%, 800px);
  height: 834px;
  margin: 0 auto;
}
.main_content_image {
  margin: 20px auto;
  display: block;
  outline: 4px solid rgba(0, 0, 0, 0.7);
}
.main_content_link {
  font: normal 1.2em/1.2em "LC Chalk", normal;
}
.main_content_p {
  font: 100 1em/1em "Poppins", sans-serif;
}

.main_footer {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.main_footer_media {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.main_footer_media_item_link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
}
.main_footer_media_item_link:hover {
  color: #343434;
}

/*# sourceMappingURL=main.css.map */
