@use '../common/vars';

.footer{
  background-color: vars.$mainBackgroundColor;
  color: vars.$mainTextColor;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 6px;
  a > img{
    width: 32px;
    height: 32px;
  }
}